<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ResuMech</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    
    <section class="landing">
        <div class="container">
            <h1>Welcome to Resume Analyzer</h1>
            <div class="button-container">
                <a class="button" href="{{ url_for('login') }}">Login</a>
                <a class="button" href="{{ url_for('signup') }}">Sign Up</a>
            </div>
        </div>
    </section>

    
</body>
</html>
