<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ResuMech</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="main-container">
        <h1 class="main-h1">Upload Resume</h1>
        <div class="form-and-content">
            <div class="form-container">
                <form method="post" enctype="multipart/form-data">
                    <label class="main-label" for="name">Name:</label>
                    <input type="text" id="name" name="name" required><br>
                    <label class="main-label" for="email">Email:</label>
                    <input type="email" id="email" name="email" required><br>
                    <label class="main-label" for="resume">Upload Resume (TXT or PDF):</label>
                    <input type="file" id="resume" name="resume" accept=".txt,.pdf" required><br>
                    <button type="submit">Upload</button>
                </form>
            </div>
            <div class="resume-content">
                <h2>Resume Content:</h2>
                <div>{{ resume_content|safe }}</div>
            </div>
        </div>
    
        <div class="recommendations">
            <h2>Recommended Jobs:</h2>
            <ul>
                {% for job in jobs %}
                <li>
                    {{ job.job_title }} - {{ job.percentage_detected }}%
                    <div class="percentage-bar-container">
                        <div class="percentage-bar" data-percentage="{{ job.percentage_detected|int }}" style="width: {{ job.percentage_detected }}%; background-color: {% if job.job_title == 'Software Developer' %}#ff6f61{% elif job.job_title == 'Data Scientist' %}#ffa500{% elif job.job_title == 'System Analyst' %}#f7ea48{% elif job.job_title == 'Marketing' %}#4caf50{% elif job.job_title == 'Blockchain Software Developer' %}#1e90ff{% elif job.job_title == 'Database Engineer' %}#8a2be2{% elif job.job_title == 'Mobile Developer - Android' %}#ff69b4{% elif job.job_title == 'Technical Lead' %}#20b2aa{% endif %};">
                            {{ job.percentage_detected }}%
                        </div>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>

        <h3>Comments and Suggestions:</h3>
        <table>
            <thead>
            </thead>
            <tbody>
                {% for comment in comments %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ comment }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
   

        <a href="{{ url_for('history') }}" class="history-button">View Upload History</a>
        <a href="{{ url_for('index') }}" class="exit-button">Exit</a>
        
    </div>  
    </div>
</body>
</html>
